.backdrop {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 95vw;
  min-height: 609px;
  top: 10px;
  left: 50%;
  transform-origin: top left;
  transform: translate(-50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  @include mobile {
    width: 450px;
    min-height: 609px;
  }
  @include desktop {
    width: 528px;
    min-height: 581px;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  & .modal {
    transform: scale(1.1) translate(-50%, -50%);
  }
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--first-accent-color);
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  @include desktop {
    line-height: 1.15;
  }
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--second-title-color);
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  padding-left: 35px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-check:hover,
.modal-check:focus,
.modal-text:hover,
.modal-text:focus,
.modal-input:hover,
.modal-input:focus {
  border-color: var(--first-accent-color);
}

.modal-text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  resize: none;
  padding: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  padding: 12px 16px;

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.input-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--font-text-color);
  margin-bottom: 4px;
}

.form-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--first-accent-color);
  }
}

.modal-input:hover + .input-icon {
  fill: var(--first-accent-color);
  &:focus + .input-icon {
    fill: var(--first-accent-color);
  }
}

.modal-check-text {
  // display: inline-block;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
  color: var(--font-text-color);
  margin-top: 20px;
  &::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    align-self: center;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-check-link {
  color: var(--first-accent-color);
  margin-left: 4px;
}

.modal-check:checked + .modal-check-text::before {
  background-color: var(--second-accent-color);
  background-image: url('../images/check.svg');
  border: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.form-submit-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  cursor: pointer;
  height: 50px;
  width: 200px;
  background: var(--first-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  margin: 20px auto 0;
  padding: 0px;
  &:hover,
  &:focus {
    background: var(--second-accent-color);
  }
}
