.section {
  padding: 60px 0px;
  @media screen and (min-width: 768px) {
    padding: 60px 0px;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  all: unset;
  text-decoration: none;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}
