:root {
  --footer-hero-color: #2f303a;
  --team-color: #f5f4fa;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --font-text-color: #757575;
  --first-accent-color: #2196f3;
  --second-accent-color: #188ce8;
}
